<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>792402634639-b618e9l0r6vvel7a2msqk3m7va9ejm46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792402634639-b618e9l0r6vvel7a2msqk3m7va9ejm46</string>
	<key>API_KEY</key>
	<string>AIzaSyCu5Ne-QPn2yfGq5xNhpGLHckH4koEDuok</string>
	<key>GCM_SENDER_ID</key>
	<string>792402634639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gdgbari.devfestlevante2018</string>
	<key>PROJECT_ID</key>
	<string>devfesttest-f5c73</string>
	<key>STORAGE_BUCKET</key>
	<string>devfesttest-f5c73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792402634639:ios:86616a08e16a7064</string>
	<key>DATABASE_URL</key>
	<string>https://devfesttest-f5c73.firebaseio.com</string>
</dict>
</plist>